#article {
    border: 0.1em solid #ddd;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0);
    padding: 4em 10em;
    margin: 3em auto;
}

#article-header {
    margin-bottom: 2em;
}

#article-header > h1{
    font-size: 3rem;
}

#article-date {
  clear: both;
    color: gray;
    font-size: 1rem;
    font-weight: 600;
}

#article-author {
    font-size: 1.2em;
}

#article-category {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1em;
}

#article-body {
    font-size: 1.2rem;
    line-height: 2em;
}

#article-image {
    margin: 3em auto;
    width: 80%;
}


/* article card styles */

.card-link {
  text-align: center;
  color: black;
}

.card-link:hover {
  font-weight: 350;
  color: black;
}

.category-sec {
  font-size: 23px;
  margin-top: 9px;
}

.title-sec {
  font-size: 30px;
  margin-bottom: 100px;
  padding: 10px;
  white-space: normal;
}

.author-sec {
  font-size: 20px;
  position: absolute;
  bottom: 35px;
  width: 100%;
}

.author-sec b {
  color: rgb(25, 161, 230);
}

.card-link hr {
  border: lightgray solid 2px;
  position: absolute;
  bottom: 5px;
  width: 85%;
  left: 7%;
}
