
#messenger {
  background: #fff;
  border: 0.1em solid #ddd;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0);
  margin: 3em auto 2em;
  padding: 0;
}

#messenger-header {
  margin: 1em 0 0.5em;
}

#conversation-header {
  padding-left: 0.7em;
  color: #999;
}

#message-list {
  border: solid 0.1em #ddd;
  overflow-y: auto;
  height: 60vh;
  padding: 1em 0.5em;
}

#message-list .message {
  border: 0;
  margin-bottom: 0;
  padding: 0.5em 1em;
}

#message-list .whole-message {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

#message-list .whole-message .text {
  margin-top: -0.25em;
  margin-bottom: 0.25em;
}

#message-list .whole-message .show-date {
  z-index: 1;
  color: gray;
}

#message-list .whole-message .hide-date {
  z-index: -1;
}

#message-list .sender .text {
  align-self: flex-end;
}

#message-list .message {
  align-self: flex-end;
}

.message-group {
  display: flex;
  flex-direction: column;
}

.message-group.sender {
  align-items: flex-end;
}

.message-group.recipient {
  align-items: flex-start;
}

.sender .message {
  background: rgb(41, 41, 53);
  color: white;
}

.recipient .message {
  background: #ddd;
  color: #000;
}

#message-list .edit-link {
  margin-top: -0.2em;
}

#chat-box {
  margin: 1em;
}

#send-button {
  margin: auto;
}

#chat-textarea {
  resize: none;
  min-height: 0;
}

#sidebar {
  border-right: solid #ddd 0.1em;
  padding: 1em;
  display: block;
}

#sidebar > div {
  margin: 1em;
  display: block;
}