.see-all {
  float: right;
  color: black;
  font-size: 25px;
  margin-top: 10px;
}


.article-row {
  display: inline-grid;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  margin-left: 4em;
}
