.row-fluid {
  margin-bottom: -30px;
  padding-top: 5em;
  display: flex;
  justify-content: space-between;
}

.row-fluid p {
  font-size: 50px;
  font-weight: 40;
}

.dropdown {
  padding-top: 10px;
}

.stories p {
  font-size: 50px;
  font-weight: 40;
  margin-left: -40px;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

h4 {
  padding-top: 25px;
}
