.row-fluid {
  margin-bottom: -30px;
  padding-top: 5em;
  display: flex;
  justify-content: space-between;
}

.row-fluid p {
  font-size: 50px;
  font-weight: 40;
}

.dropdown {
  padding-top: 10px;
}

.stories {
  margin-top: 80px;
  font-size: 60px;
  font-weight: 40;
}

.category-header {
    font-size: 50px;
    font-weight: 500;
    padding-left: 40px;
}
